rsource "logger.kconfig"
rsource "Network/kconfig"
rsource "TLE8457_serial/kconfig"
rsource "sensors/kconfig"

config WATCHDOG
    bool "Enable Watchdog Timer"
    default y
    
config WORKER_PROCESS
    bool "Enable Worker Process"
    default n

config NODE_SCAN_TASK
    bool "Enable Node Scan Task"
    depends on WORKER_PROCESS
    default y if TLE8457_COMM_LIB
