menuconfig NETWORK
    bool "Enable TCP/IP Network Support"
    default n
	
config TCP_WATCHDOG
    bool "Enable TCP Watchdog"
    select WATCHDOG
    depends on NETWORK
    default y
    help
    	reset watchdog timer on TCP/IP activity
  
config TCP_WATCHDOG_TIMEOUT
    int "TCP Watchdog Timeout"
    default 300
    depends on TCP_WATCHDOG
    help
    	TCP Watchdog timeout in seconds

config TELNET_SERVER
    bool "Enable Telnet Server"
    depends on NETWORK
    default n
    
config HTTP_SERVER
    bool "Enable HTTP Server"
    depends on NETWORK
    default n
