menuconfig SENSORS
    bool "Enable Sensors"
    default n
    help 
    	enables running sensors on the node
    	this is a base setting for all sensors
    	other sensors can be enabled/disabled in the following menu

config SENSORS_FACTORY
    bool "Enable Sensors Factory"
    depends on SENSORS
    default y
    
config SENSORS_FACTORY_INSTANCE
    bool "Create a default Sensors Factory Instance"
    depends on SENSORS_FACTORY
    default n
    help
      If this option is enabled, a default Sensors Factory Instance will be created.
      If this option is disabled, the Sensors Factory Instance mmay be extended or modified
      and must be created manually.

config SYSTEM_STATUS_SENSOR
    bool "Enable System Status Sensor"
    depends on SENSORS
    default y

config DS1820_SENSOR
    bool "Enable DS1820 Sensor"
    depends on SENSORS
    default n
    
config IMPULSE_SENSOR
    bool "Enable Impulse Sensor"
    depends on SENSORS
    default n
    
config OUTPUT_STATE_SENSOR
    bool "Enable Output State Sensor"
    depends on SENSORS
    depends on OUTPUT_PROCESS
    default n
    
config PT100_ANALOG_SENSOR
    bool "Enable PT100 termistor Sensor"
    depends on SENSORS
    default n
    
config WIEGAND_SENSOR  
    bool "Enable Wiegand Sensor"
    depends on SENSORS
    default n
    
config CONFIG_WIEGAND_D0_PIN
    int "pin to be used as D0" 
    default 2
    depends on SENSORS
    depends on WIEGAND_SENSOR
    
config CONFIG_WIEGAND_D1_PIN
    int "pin to be used as D1" 
    default 3
    depends on SENSORS
    depends on WIEGAND_SENSOR
    
config SIMPLE_DIGITAL_INPUT_SENSOR
    bool "Enable Simple Digital Input Sensor"
    depends on SENSORS
    default n

config SENSOR_HUB
    bool "Enable Sensor Hub"
    depends on SENSORS
    default n
    help
        Sensor Hub is a central controller for sensors. It can cache sensor data
        and handle messages from local or remote sensors
        usually this setting is enabled on the central controller

choice SENSOR_EVENTS_TYPE
    prompt "Source of Sensor Events"
    depends on SENSORS
    default SENSOR_GENERATE_EVENTS if !SENSOR_HUB
    default SENSOR_HUB_GENERATE_EVENTS if SENSOR_HUB

config SENSOR_GENERATE_EVENTS
    depends on SENSORS
    bool "Enable Sensors Events, generated by tSensor class"
    
config SENSOR_HUB_GENERATE_EVENTS
    depends on SENSORS
	depends on SENSOR_HUB
    bool "Enable Sensors Events, generated by tSensorHub class"

endchoice

config SENSOR_HUB_FOR_REMOTE_SENSORS
    bool "Enable handling of messages from remote sensors and caching of sensor data in sensor hub"
    depends on SENSORS
    depends on SENSOR_HUB
    select TLE8457_COMM_LIB
    default n
    help
        This setting is enabling the sensor hub to cache sensor data
        and to handle messages from remote sensors
        usually this setting is enabled on the central controller

config SENSOR_SEND_EVENTS_USING_SERIAL
	bool "Enable sendng sensor events using serial communication"
	depends on TLE8457_COMM_LIB
	depends on SENSORS
	default n
	help
		setting to be set on the node where sensors are running
		Enables sending sensor events to the central station
		Idivdual sensors will send events periodically depending on configuraion
		or on demand

config SENSOR_EVENTS_SERIAL_RECIEVER_ID
	int "Reciever ID of the sensor events"
	depends on SENSOR_SEND_EVENTS_USING_SERIAL
	default 1
	help
	    Reciever ID of the sensor events, sensor events will be sent to this ID 
	    Usually the ID of the central station

config SENSOR_REMOTE_CONTROL
	bool "Enable dynamic creation/deletion/start/stop of sensors using serial communication"
    depends on SENSORS
	depends on TLE8457_COMM_LIB
	default n
	help
		setting to be set on the node where sensors are running
		this is independent from SENSOR_SEND_EVENTS_USING_SERIAL

config SENSORS_STORE_IN_EEPROM
	bool "Enable dynamic saving and restoring of all sensors to eeprom"
	default n 
    depends on SENSORS
	help
		to be used when sensors are dynamically created from the central node
		requires eeprom offsets: EEPROM_NUM_OF_SENSORS, EEPROM_FIRST_SENSOR
		config SENSORS_CONTROL_SENDER_OF_CONTOL_MESSAGES

config SENSORS_CONTROL_SENDER_OF_CONTOL_MESSAGES
    bool "Enbable sending control messages using serial communication"
    depends on TLE8457_COMM_LIB
    default 0
    help
        Usually the ID of the central station
        required for telnet commands for sensors and HTTP servlets for sensors
        

config SENSORS_JSON_OUTPUT
    bool "Enable JSON output for sensors"
    depends on SENSORS
    depends on SENSOR_HUB
    default y
	help
		setting to be set on the central controller
		this settings is enabling a huge part of code translating 
		binary format from enabled sensors

